language: python
python:
    - 2.7
notifications:
    email: false
before_install:
    - sudo apt-get update
    - sudo apt-get -y install python-pip
    - sudo pip install --upgrade pip
    - pip install --upgrade pip
    - pip install flake8
script:
  # TODO (msenin) add verification only changed python files
  - flake8 . --ignore=F403
